@import "mocha-palette.css";

/* === Control Center === */
.control-center {
	background-color: @base;
	color: @text;
}

/* === Notifications === */
.notification-row {
	background: @base;
	color: @text;
	padding: 6px;
	margin: 4px;
	border: 1px solid @surface1;
	border-radius: 6px;
}

.notification {
	background: @base;
	color: @text;
	border-radius: 6px;
}

.notification:hover {
	background: @surface0;
}

/* === Close Button === */
.close-button {
	background: @red;
	border-radius: 4px;
}

.close-button:hover {
	opacity: 0.85;
}

/* === Floating Notifications === */
.floating-notifications {
	border-radius: 6px;
}

/* === Notification Actions === */
.notification-default-action {
	margin: 4px;
	padding: 4px;
	border-radius: 4px;
}

/* === Widgets === */
.widget-title {
	margin: 8px;
	padding-top: 8px;
	font-size: 20px;
}

.widget-mpris {
	padding: 6px;
	margin: 4px;
	border-radius: 6px;
	opacity: 0.9;
}

/* === Misc === */
.image {
	border-radius: 6px;
}

.time {
	color: @text;
	background: transparent;
}
