/* Global */
* {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 15px;
	font-weight: 600;
	border: none;
	min-height: 0;
	border-radius: 18px;
}

/* Color palette */
@define-color bg #32302f;
@define-color text #ebdbb2;
@define-color bg-active #d79921;
@define-color language-bg #458588;
@define-color notifications-bg #b16286;
@define-color cpu-default-bg #98971a;
@define-color cpu-warning-bg #d65d0e;
@define-color cpu-critical-bg #cc241d;
@define-color surface2 #928374;

/* Waybar container */
window#waybar {
	background: transparent;
	margin: 6px 10px;
	transition: opacity 0.3s ease;
}

window#waybar.hidden {
	opacity: 0.25;
}

/* Layout */
.modules-left,
.modules-center,
.modules-right {
	margin: 2px;
}

/* Tooltip */
tooltip {
	background: @bg;
	border: 2px solid @bg-active;
}

tooltip label {
	color: @text;
	padding: 6px 8px;
}

/* Base module style */
#cpu,
#window,
#network,
#custom-notification,
#language,
#clock {
	margin: 3px;
	padding: 3px 16px;
	transition:
		background 0.2s ease,
		color 0.2s ease;
}

/* Module colors */
#cpu {
	color: @bg;
	background: @cpu-default-bg;
}

#window {
	color: @text;
}

#network {
	background: @bg;
}

#custom-notification {
	font-size: 17px;
	background: @notifications-bg;
	color: @bg;
}

#language {
	background: @language-bg;
	color: @bg;
}

#clock {
	background: @bg-active;
	color: @bg;
}

/* Hover states */
#custom-notification:hover,
#pulseaudio:hover,
#language:hover,
#clock:hover {
	background: @text;
	color: @bg;
}

/* Workspaces */
#workspaces {
	background: @bg;
	padding: 3px 4px;
	margin: 2px;
}

#workspaces button {
	color: @surface2;
	padding: 3px 24px;
	margin: 2px;
	transition: all 0.2s ease;
}

#workspaces button.active {
	background: @bg-active;
	color: @bg;
	min-width: 38px;
}

#workspaces button:hover {
	background: @text;
	color: @bg;
}

/* States */
/* Medium load */
#cpu.warning {
	background: @cpu-warning-bg; /* orange */
}

/* High load */
#cpu.critical {
	background: @cpu-critical-bg; /* red */
}

/* Animations */
@keyframes blink {
	to {
		background: @text;
		color: @text;
	}
}
