window {
	background-color: #2d2a2e;
}

* {
	font-family: "JetBrains Mono";
	color: #fcfcfa;
}

#scroll {
	padding: 0.5rem;
}

#input {
	background-color: #2d2a2e;
	color: #fcfcfa;
	outline: none;
	box-shadow: none;
	border: 0;
	border-radius: 0;
	font-size: 1.2rem;
	padding: 0.5rem;
}

#inner-box {
	margin: 0.5rem;
	font-size: 1.1rem;
}

#img {
	margin: 10px 10px;
}

#entry {
	border-radius: 0.5rem;
}

#entry:selected {
	background-color: #ff6188;
	outline: none;
}

#text:selected {
	color: #2d2a2e;
}
